services:
  database:
    container_name: database
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-root}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-root}
      POSTGRES_DB: ${DATABASE_PREFIX}_${ENV}
    ports:
      - '4023:5432'
    volumes:
      - ./backend/_data/pgdata:/var/lib/postgresql/data/

  headless_chrome:
    container_name: headless_chrome
    image: browserless/chrome
    networks:
      - backend

  postal_office:
    container_name: postal_office
    build:
      context: .
      dockerfile: ./postal_office/Dockerfile
    volumes:
      - ./postal_office/_data:/app/_data
    environment:
      - MAILGUN_DOMAIN
      - MAILGUN_API_KEY
      - MAX_JOBS
    networks:
      - backend

  backend:
    container_name: backend
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    volumes:
      - ./backend/_data:/app/_data
      - ./backend/fonts:/app/fonts
      - ./backend/migrations:/app/migrations
      - ./backend/templates:/app/templates
      - ./${PROFANITY_JSON_FILE_NAME}:/app/${PROFANITY_JSON_FILE_NAME}
      - ./${GOOGLE_APPLICATION_CREDENTIALS_FILE}:/app/${GOOGLE_APPLICATION_CREDENTIALS_FILE}
    environment:
      - ENV
      - BASE_URL=${BACKEND_URL}
      - FRONTEND_URL
      - GOOGLE_APPLICATION_CREDENTIALS=./${GOOGLE_APPLICATION_CREDENTIALS_FILE}
      - PROFANITY_JSON_FILE_PATH=./${PROFANITY_JSON_FILE_NAME}
      - DATABASE_PREFIX
      - SESSION_COOKIE_NAME
      - TWITTER_CLIENT_ID
      - TWITTER_CLIENT_SECRET
      - TWITTER_CALLBACK_URL
      - POSTAL_OFFICE_ADDRESS=postal_office:3350
      - CHROME_DEVTOOLS_URL=ws://headless_chrome:3000
    networks:
      - backend
    depends_on:
      - postal_office
      - headless_chrome

  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        env: ${ENV}
        frontend_url: ${FRONTEND_URL}
        backend_url: ${BACKEND_URL}
        firebase_api_key: ${FIREBASE_API_KEY}
        firebase_auth_domain: ${FIREBASE_AUTH_DOMAIN}
        firebase_storage_bucket: ${FIREBASE_STORAGE_BUCKET}
        firebase_messaging_sender_id: ${FIREBASE_MESSAGING_SENDER_ID}
        firebase_app_id: ${FIREBASE_APP_ID}
        firebase_measurement_id: ${FIREBASE_MEASUREMENT_ID}
        firebase_project_id: ${FIREBASE_PROJECT_ID}

networks:
  backend:
    driver: bridge