services:
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    volumes:
      - ./backend/_data:/app/_data
      - ./backend/fonts:/app/fonts
      - ./${PROFANITY_JSON_FILE_PATH}:/app/${PROFANITY_JSON_FILE_PATH}
      - ./${GOOGLE_APPLICATION_CREDENTIALS_FILE}:/app/${GOOGLE_APPLICATION_CREDENTIALS_FILE}
    environment:
      - ENV
      - BASE_URL=${BACKEND_URL}
      - FRONTEND_URL
      - GOOGLE_APPLICATION_CREDENTIALS=./${GOOGLE_APPLICATION_CREDENTIALS_FILE}
      - PROFANITY_JSON_FILE_PATH=./${PROFANITY_JSON_FILE_PATH}
      - DATABASE_PREFIX
      - SESSION_COOKIE_NAME
      - TWITTER_CLIENT_ID
      - TWITTER_CLIENT_SECRET
      - TWITTER_CALLBACK_URL
      - MAILGUN_DOMAIN
      - MAILGUN_APIKEY

  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        env: ${ENV}
        backend_url: ${BACKEND_URL}
        firebase_api_key: ${FIREBASE_API_KEY}
        firebase_auth_domain: ${FIREBASE_AUTH_DOMAIN}
        firebase_storage_bucket: ${FIREBASE_STORAGE_BUCKET}
        firebase_messaging_sender_id: ${FIREBASE_MESSAGING_SENDER_ID}
        firebase_app_id: ${FIREBASE_APP_ID}
        firebase_measurement_id: ${FIREBASE_MEASUREMENT_ID}
        firebase_project_id: ${FIREBASE_PROJECT_ID}
    volumes:
      - ./frontend:/app
