services:
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: ./backend/Dockerfile
      args:
        google_application_credentials: ./${GOOGLE_APPLICATION_CREDENTIALS_FILE}
        profanity_json_file_path: ./${PROFANITY_JSON_FILE_PATH}
    volumes:
      - ${PWD}/backend/_data:/app/_data
    environment:
      - ENV
      - BASE_URL=${BACKEND_URL}
      - FRONTEND_URL
      - GOOGLE_APPLICATION_CREDENTIALS=./${GOOGLE_APPLICATION_CREDENTIALS_FILE}
      - DATABASE_PREFIX
      - SESSION_COOKIE_NAME
      - TWITTER_CLIENT_ID
      - TWITTER_CLIENT_SECRET
      - TWITTER_CALLBACK_URL
      - MAILGUN_DOMAIN
      - MAILGUN_APIKEY
      - PROFANITY_JSON_FILE_PATH
    networks:
      - caddy
    labels:
      caddy: ${BASE_DOMAIN:localhost}
      caddy.handle_path: /api/*
      caddy.handle_path.0_reverse_proxy: "{{upstreams 4000}}"

  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        env: ${ENV}
        backend_url: ${BACKEND_URL}
        firebase_api_key: ${FIREBASE_API_KEY}
        firebase_auth_domain: ${FIREBASE_AUTH_DOMAIN}
        firebase_storage_bucket: ${FIREBASE_STORAGE_BUCKET}
        firebase_messaging_sender_id: ${FIREBASE_MESSAGING_SENDER_ID}
        firebase_app_id: ${FIREBASE_APP_ID}
        firebase_measurement_id: ${FIREBASE_MEASUREMENT_ID}
        firebase_project_id: ${FIREBASE_PROJECT_ID}
    volumes:
      - ${PWD}/frontend:/app
    networks:
      - caddy 
    labels:
      caddy: ${BASE_DOMAIN:localhost}
      caddy.reverse_proxy: "{{upstreams 3000}}"

networks:
  caddy:
    external: true
