services:
  www:
    container_name: www
    image: lucaslorentz/caddy-docker-proxy:ci-alpine
    ports:
      - '80:80'
      - '443:443'
    environment:
      - CADDY_INGRESS_NETWORKS=caddy
    networks:
      - caddy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - caddy_data:/data
    restart: unless-stopped

  backend:
    networks:
      - caddy
    labels:
      caddy: ${BASE_DOMAIN}
      caddy.handle_path: /api/*
      caddy.handle_path.0_reverse_proxy: "{{upstreams 4000}}"

  frontend:
    networks:
      - caddy 
    labels:
      caddy: ${BASE_DOMAIN}
      caddy.reverse_proxy: "{{upstreams 3000}}"

networks:
  caddy:
    external: true

volumes:
  caddy_data: {}