services:
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: ./backend/Dockerfile
      args:
        google_application_credentials: ./${GOOGLE_APPLICATION_CREDENTIALS_FILE}
    ports:
      - '4000:4000'
    volumes:
      - ${PWD}/backend/_data:/app/_data
    environment:
      - ENV
      - BASE_URL=${BACKEND_URL}
      - FRONTEND_URL
      - GOOGLE_APPLICATION_CREDENTIALS=./${GOOGLE_APPLICATION_CREDENTIALS_FILE}
      - DATABASE_PREFIX
      - SESSION_COOKIE_NAME
      - TWITTER_CLIENT_ID
      - TWITTER_CLIENT_SECRET
      - TWITTER_CALLBACK_URL
      - MAILGUN_DOMAIN
      - MAILGUN_APIKEY
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        env: ${ENV}
        backend_url: ${BACKEND_URL}
        firebase_api_key: ${FIREBASE_API_KEY}
        firebase_auth_domain: ${FIREBASE_AUTH_DOMAIN}
        firebase_storage_bucket: ${FIREBASE_STORAGE_BUCKET}
        firebase_messaging_sender_id: ${FIREBASE_MESSAGING_SENDER_ID}
        firebase_app_id: ${FIREBASE_APP_ID}
        firebase_measurement_id: ${FIREBASE_MEASUREMENT_ID}
        firebase_project_id: ${FIREBASE_PROJECT_ID}
    ports:
      - '3000:3000'
    volumes:
      - ${PWD}/frontend:/app